body{
    background-color: black;   
}

main{
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

p{

color: aquamarine;
}

button{
    color: black;
}

h2 {
    color: aquamarine;
}